<div class="bg" style="background-color: #F8F8F8;">
    <div class="parent">
        <div class="child">
            <div nz-row lass="imgDiv">
                <h1 style="margin-left: 80px;">Sign Up</h1>
            </div>

            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                        <input nz-input placeholder="E-mail" formControlName="email">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Password!">
                        <input nz-input placeholder="Password" type="password" formControlName="password">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Name!">
                        <input nz-input placeholder="Name" formControlName="name" />
                    </nz-form-control>
                </nz-form-item>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
                <a routerLink="/login">Or login now!</a>
            </form>
        </div>
    </div>
</div>